.content {
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  padding: 0 20px;
  resize: vertical;
  background: #1e1f21;
  flex: 3;
}

.middlePanel {
  font-size: 20px;
  height: 100%;
  width: 30%;
  resize: vertical;
}

.comments {
  height: 50%;
  overflow-y: scroll;
  background: #2a2b2d;
}

.indexChapitre {
  height: 50%;
  overflow-y: scroll;
  background: #323232;
}

.indexChapitre a {
  display: block;
}

.menuContainer {
  height: 100%;
  min-height: 100%;
  width: 70%;
  overflow-y: scroll;
  background: #2c2d2f;
  padding: 0 5px;
}

.windowContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.windowContainer nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-basis: 50%;
  min-width: 600px;
}

.linkChapter {
  border-width: 0 0 1px 0;
  border-color: white;
  border-style: solid;
  text-align: center;
}
